header
{
	height: 150px;
	background-color: $color-primary;
	border-bottom: 2px solid #a1c181;
	color:$color-secondary;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;	
	top:0px;
	width:100%;
}

.logo
{
	width:300px;
}
