/* Code Css pour les mentions légales*/
.bloc-page5
{
	width:50%;
	margin:auto;
	text-align:center;
	margin-bottom:180px;
	margin-top:125px;
}
.bloc-page5 h1, .bloc-page5 h4

{

	font-family:'Montserrat-Light', sans-serif;
	color: $color-secondary;
	background-color: $color-primary;
	width:300px;
	margin:auto;
	margin-bottom:25px;
	height:50px;
	border-radius:45px;
	display:flex;
	align-items:center;
	justify-content:center;

}
