@font-face { 
    font-family: 'Montserrat-Light';
    src: url('../Fonts/montserrat-light-webfont.eot');
    src: url('../Fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/montserrat-light-webfont.woff') format('woff'),
         url('../Fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../Fonts/montserrat-light-webfont.svg#Montserrat-Light') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face { 
font-family: 'devonshire-regular';
src: url('../Fonts/devonshire-regular-webfont.eot');
src: url('../Fonts/devonshire-regular-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../Fonts/devonshire-regular-webfont.woff') format('woff'),
	 url('../Fonts/devonshire-regular-webfont.ttf') format('truetype'),
	 url('../Fonts/devonshire-regular-webfont.svg#devonshire-regular') format('svg');
font-weight:normal;
font-style:normal;
}

@font-face { 
font-family: 'CroissantOne-Regular';
src: url('../Fonts/croissantone-regular-webfont.eot'); 
src: url('../Fonts/croissantone-regular-webfont?#iefix') format('embedded-opentype'),
	 url('../Fonts/croissantone-regular-webfont.woff') format('woff'),
	 url('../Fonts/croissantone-regular-webfont.ttf') format('truetype'),
	 url('../Fonts/croissantone-regular-webfont.svg#CroissantOne-Regular') format('svg');
font-weight:normal;
font-style:normal;
}

@font-face { 
font-family: 'gosmicksans';
src: url('../Fonts/gosmicksans-webfont.eot');
src: url('../Fonts/gosmicksans-webfont?#iefix') format('embedded-opentype'),
	 url('../Fonts/gosmicksans-webfont.woff') format('woff'),
	 url('../Fonts/gosmicksans-webfont.ttf') format('truetype'),
	 url('../Fonts/gosmicksans-webfont.svg#gosmicksans') format('svg');
font-weight:normal;
font-style:normal;
}

@font-face { 
font-family: 'Kaushan';
src: url('../Fonts/kaushanscript-regular-webfont.eot');
src: url('../Fonts/kaushanscript-regular-webfont?#iefix') format('embedded-opentype'),
	 url('../Fonts/kaushanscript-regular-webfont.woff') format('woff'),
	 url('../Fonts/kaushanscript-regular-webfont.ttf') format('truetype'),
	 url('../Fonts/kaushanscript-regular-webfont.svg#Kaushan') format('svg');
font-weight:normal;
font-style:normal;	
}
