.container{

  margin-top :20px;
  margin-left:0;
  margin-right:0;
}

body {
  background: white;
  width:100%;
  margin:0!important;
}

header {
  height: 150px;
  background-color:#f3e9f1;
  color: #261624;
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
  top: 0px;
  width: 100%;
}

nav{
  background-color:#f3e9f1;
}
a{
  color : #261624!important;

}
.logo {
  width: 300px;
}
article{
  border: 2px solid black;
  padding-bottom:25px;

  margin-bottom: 30px;
  box-shadow: 10px 5px 5px black;
  background-color:#f3e9f1;
}

img {
  width:100%;

}

.card{
  box-shadow: 10px 5px 5px black;
  margin-bottom:50px;
}

.card-body{
  background-color:#f3e9f1;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex{
  display:flex;
  flex-direction:row;
  justify-content: center;
}
.row{
  margin:0px!important;
}
.affichageProduit{
  padding-left:10px;
  padding-right:10px;
}
.espace{
  margin-left:5px;
  margin-right:5px;
}

footer {
  margin-top:25px;
  padding-top :20px;
  color: #261624;
  background-color:#f3e9f1;
  height: 60px;



}
footer a {
  text-decoration: none;
  color: #261624;

}

.col-sm-12{

  text-align:center;
}
.col-sm-1{
  padding:0px!important;
}
.boutonMoins, .boutonPlus{
  width:100%;
  border:2px solid black;
  height:50%;
}

@media all and (max-width: 1550px) {
}

@media all and (max-width: 1210px) {


}
@media all and (max-width: 1000px) {

}
@media all and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
.img{
  width:250px;
}
}


