
@font-face { 
    font-family: 'Montserrat-Light';
    src: url('../Fonts/montserrat-light-webfont.eot');
    src: url('../Fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/montserrat-light-webfont.woff') format('woff'),
         url('../Fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../Fonts/montserrat-light-webfont.svg#Montserrat-Light') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face { 
font-family: 'devonshire-regular';
src: url('../Fonts/devonshire-regular-webfont.eot');
src: url('../Fonts/devonshire-regular-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../Fonts/devonshire-regular-webfont.woff') format('woff'),
	 url('../Fonts/devonshire-regular-webfont.ttf') format('truetype'),
	 url('../Fonts/devonshire-regular-webfont.svg#devonshire-regular') format('svg');
font-weight:normal;
font-style:normal;
}

@font-face { 
font-family: 'CroissantOne-Regular';
src: url('../Fonts/croissantone-regular-webfont.eot'); 
src: url('../Fonts/croissantone-regular-webfont?#iefix') format('embedded-opentype'),
	 url('../Fonts/croissantone-regular-webfont.woff') format('woff'),
	 url('../Fonts/croissantone-regular-webfont.ttf') format('truetype'),
	 url('../Fonts/croissantone-regular-webfont.svg#CroissantOne-Regular') format('svg');
font-weight:normal;
font-style:normal;
}

@font-face { 
font-family: 'gosmicksans';
src: url('../Fonts/gosmicksans-webfont.eot');
src: url('../Fonts/gosmicksans-webfont?#iefix') format('embedded-opentype'),
	 url('../Fonts/gosmicksans-webfont.woff') format('woff'),
	 url('../Fonts/gosmicksans-webfont.ttf') format('truetype'),
	 url('../Fonts/gosmicksans-webfont.svg#gosmicksans') format('svg');
font-weight:normal;
font-style:normal;
}

@font-face { 
font-family: 'Kaushan';
src: url('../Fonts/kaushanscript-regular-webfont.eot');
src: url('../Fonts/kaushanscript-regular-webfont?#iefix') format('embedded-opentype'),
	 url('../Fonts/kaushanscript-regular-webfont.woff') format('woff'),
	 url('../Fonts/kaushanscript-regular-webfont.ttf') format('truetype'),
	 url('../Fonts/kaushanscript-regular-webfont.svg#Kaushan') format('svg');
font-weight:normal;
font-style:normal;	
}

body
{
	margin-left:0px; 
	margin-right:0px;
}


header
{
	height: 150px;
	background-color: #579c87;
	border-bottom: 2px solid #a1c181;
	color:#fdcb46;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;	
	top:0px;
	width:100%;
}

.logo
{
	width:300px;
}
.container
{
	display:flex;
	justify-content:space-evenly;
	flex-wrap: wrap;
}

.box 
{
	display:flex;
	justify-content:center; 
	align-items:center; 
	margin-top:100px;
	margin-bottom:100px;
	height:375px;
	width:300px;
	box-shadow:1px 1px 12px #555;
	text-align:center;
	overflow:hidden;
	&--1{
		background-color:#fcdfdb;
	}
	&--2{
		background-color:#fff5fe;
	}
	&--3{
		background-color:#f9f9f9;
	}
	&--4{
		background-color:#fdfffd;
	}
	a{
		text-decoration:none;
		transform:scale(1);
		transition: transform 400ms;
		&:hover{
			transform:scale(1.20);
			opacity:0.5;
		}
	}
}

.box img
{
	width:100%;
}

i 
{
	background: linear-gradient(90deg, #f04a5e, #f78f6a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bientot
{
	height:200px;
	display:flex;
	justify-content: center;

}

.box5
{
	background-color: #579c87;
	color:#fdcb46;
	height:50px;
	width:20%;
	display:flex;
	justify-content: center;
	padding-top:10px;
	border-radius:45px;
	font-family:'Montserrat-Light', sans-serif;
}
.waiting
{

	animation: waiting 1s steps(5,end) infinite;
}

@keyframes waiting 
{
	20%{
		color:rgba(0,0,0,0);
		text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	40%{
		color:#fdcb46;
		text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	60% {
	  text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	100% {
	  text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 #fdcb46;
	}
}

footer
{
	background-color: #579c87;
	border-top: 2px solid #a1c181;
	font-family:'Montserrat-Light', sans-serif;
    height:60px;
	float:bottom;
	position:fixed;
	bottom:0px;
	width:100%;
	display:flex; 
	justify-content:space-between;
	align-items:center;
	.wiggle{
		padding-left:25px;
		padding-right:25px;
		&:hover{
       		animation: shake 450ms infinite ;
		}
}
}



$shake-intensity:5deg;

@keyframes shake {
    25% {
        // rotation vers la droite
        transform: rotate($shake-intensity);
    }
    75% {
        // rotation vers la gauche
        transform: rotate($shake-intensity * -1);
    }
}

a
{
text-decoration:none;
color:#fdcb46;
}

/* Code Css pour les menus en général*/
.menuhaut
{
	display:flex;
	flex-direction:column;
	align-items: center;
	padding-top:75px;
}
.bloc-page
{
	width: 80%;
	font-family:'gosmicksans',sans-serif;
	margin:auto;
	padding-left:50px;
	padding-right:50px;
	margin-top:125px;
	margin-bottom:200px;
	box-shadow:1px 1px 12px #555;
}

h1,h2,h3
{
	text-align:center;

}

h2
{

	width:35%;
}

.soulignement{

	text-align:center;
	position:relative;
}

.soulignement::before{
	content:"";
	background-color:grey;
	position:absolute;
	width:100%;
	bottom:0;
	left: 0;
	height:2px;
	transform:scaleX(0);
	transform-origin: bottom left;
	transition:transform 1000ms ease-in-out;
}
.soulignement:hover::before{
	transform:scaleX(1);
	transform-origin:bottom left;
}


.typeplat
{
	display:flex;
	justify-content:center;
	align-items:center;
}

.trait
{
	width:20%;
}

article
{
	padding-bottom:20px;
}
.produit 
{
	display:flex;
	justify-content:space-between;
	padding-left:25%;
	padding-right:25%;
	padding-bottom:15px;

}

.menubas
{
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items:center;
	padding-top:75px;
	padding-bottom:50px;
}

/* Code Css pour le menu La note enchantée*/
.bloc-page1
{
	background-color:#fcdfdb;
}

.bloc-page1 h1, .bloc-page1 h3
{
	font-family:'devonshire-regular', sans-serif;
}

i 
{
	background: linear-gradient(90deg, #f04a5e, #f78f6a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fa-3x
{
	padding-right:10px;
}

/* Code Css pour le menu Le chic à la française*/
.bloc-page2
{
	background-color:#fff5fe;
}

.bloc-page2 h1, .bloc-page2 h3
{
	font-family:'CroissantOne-regular', sans-serif;
}

.chic
{
	background: linear-gradient(90deg, #d17f45, #8f5bfe);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

.chic1
{
	color:#c67412;
}

.chic2
{
	color:#a56799;
}

.chic3
{
	color: #6e4ccc;
}

/* Code Css pour le menu Le délice des papilles*/
.bloc-page3
{
	background-color:#edefef;

}

.bloc-page3 h1, .bloc-page3 h3
{
	font-family:'Kaushan',sans-serif;
}

.delice
{
	background: linear-gradient(90deg, #0a36e0, #2797f9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

/* Code Css pour le menu La palette du goût*/
.bloc-page4
{
	background-color:#fdfffd;

}

.bloc-page4 h1, .bloc-page4 h3
{
	font-family:Kaushan,sans-serif;
}

/* Code Css pour les mentions légales*/
.bloc-page5
{
	width:50%;
	margin:auto;
	text-align:center;
	margin-bottom:180px;
	margin-top:125px;
}
.bloc-page5 h1, .bloc-page5 h4

{

	font-family:'Montserrat-Light', sans-serif;
	color:#fdcb46;
	background-color: #579c87;
	width:40%;
	margin:auto;
}

@media all and (max-width:1550px)
{
	.box
	{
		width:275px;
	}

	.bientot
	{
	height:250px;
	}

	.produit
	{
		padding-left:15%;
		padding-right:15%;
	}

}

@media all and (max-width:1210px)
{
	.container
	{
		width:80%;
		margin:auto;
	}

	.box
	{
		margin-top:100px;
		margin-left:25px;
		margin-bottom:0px;
		width:300px;
	
	}
	.box5
	{
		margin-top:90px;
		width:300px;
	}

	.produit
	{
		padding-left:10%;
		padding-right:10%;
	}
}

@media all and (max-width:1000px)
{
	.box
	{

		margin-left:0px;
	}

	h2{
		width:45%;
	}

	.typeplat
	{
		justify-content: space-between;
	}

}

@media  all and (max-width:790px)
{
	.container
	{
		flex-direction:column;
		justify-content:space-between;
		align-items:center;
	}

	.box
	{
		width:300px;
	}

	.bloc-page
	{
		width:70%;

	}

	h2
	{
		width:55%;
		font-size:0.9em;
	}

	.produit
	{
		padding-left:5%;
		padding-right:5%;
	}

	.prix
	{
		padding-left:25px;
	}
}