/* Code Css pour les mentions légales*/
.bloc-page5
{
	width:50%;
	margin:auto;
	text-align:center;
	margin-bottom:180px;
	margin-top:125px;
}
.bloc-page5 h1, .bloc-page5 h4

{

	font-family:'Montserrat-Light', sans-serif;
	color: $color-secondary;
	background-color: #579c87;
	width:40%;
	margin:auto;
}
